asgiref
binaryornot
certifi
cffi
chardet
charset-normalizer
click
colorama
coreschema
cryptography
defusedxml
dj-database-url
Django
django-environ
django-tailwind
gunicorn
idna
oauthlib
psycopg2
pycparser
pyparsing
python-dateutil
python3-openid
pytz
requests
requests-oauthlib
sqlparse
urllib3
whitenoise